DB_NAME=dbmercadoganadero
DB_USER=tinder_cows
DB_PASS=tinder_vacas_dev
DB_ROOT_PASS=root_dev
DB_HOST_PORT=3309
SUPABASE_SERVER_PORT=3001
SUPABASE_URL=https://mkxugbjvvlcyxosjjzit.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_auTPHpNH5DJ6eH0t0EqS7Q_iqPP2SDD
SUPABASE_SECRET_KEY=
SUPABASE_JWKS_URL=https://mkxugbjvvlcyxosjjzit.supabase.co/auth/v1/.well-known/jwks.json
